.plane{
  background-image: url(https://github.com/jorgegonzalezp02/art101/blob/master/Practice%20plane/img/Plane.png?raw=true);
  background-position: center;
  background-repeat: no-repeat;
  height:1000px;
  width:1500px;
  background-size: contain;
}

.message{
  border-image: url(https://github.com/jorgegonzalezp02/art101/blob/master/Practice%20plane/img/Banner.png?raw=true) 50 round;
  border-style: solid;
  border-width: 10px;
  border-color:black;
}
